*.a
*.la
*.lib
*.lo
*.o
.deps
.libs
ANNOUNCEMENT
AUTOFILES
ChangeLog
Makefile
Makefile.in
README
SRCFILES
TARGETS
bg-installer
choose
cli-generate
compile
crc-gentab
crc/crc*_table.c
doc
ltcompile
ltload
load
makelib
makeshlib
perl-head.pl
sysdeps.h
systime.h
warn-auto.sh
